/build/
/generated/
/xsim.dir/
*.vcd
*.wlf
*.jou
*.log
*.str
*.pb
core

# Vivado generated project output
**/.Xil/
**/*.cache/
**/*.gen/
**/*.hw/
**/*.runs/
**/*.sim/
**/*.ip_user_files/
**/*.data/

# Python cache
__pycache__/
*.pyc
